@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --clr-darkGrey: 248 10% 15%;
  --clr-grey: 251 9% 53%;
  --clr-almostWhite: 252 11% 91%;
  --clr-veryDarkGrey: 248 15% 11%;
  --clr-neonGreen: 127 100% 82%;
  --clr-red: 0 91% 63%;
  --clr-orange: 13 95% 66%;
  --clr-yellow: 42 91% 68%;

  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 16px;
}


body {
  font-family: "JetBrains Mono", monospace;
  font-size: var(--fs-3);
  font-weight: 700;
  color: hsl(var(--clr-almostWhite));
  background-color: hsl(var(--clr-veryDarkGrey));
  min-height: 100vh;

  overflow-x: hidden;
}

.App {
  margin-top: 64px;
  margin-inline: 16px;
}


.generator-header{
  font-size: var(--fs-3);
  color: var(--clr-grey);
  text-align: center;
  margin-block: 0;
  margin-bottom: 1rem;

}


.generator-password{
  background-color: hsl(var(--clr-darkGrey));
  font-size: var(--fs-1);
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  display: flex;
}


.fieldText{
  color: hsl(var(--clr-grey));
}

.copy-btn{
  background-color: var(--clr-darkGrey);
  border: none;
  
}
.copied:hover{
  cursor: pointer;
  fill: white;
}

.output-container{
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: auto;
  background-color: hsl(var(--clr-darkGrey));

}

.sliderLabel{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliderValue{
  font-size: var(--fs-1);
  color: hsl(var(--clr-neonGreen));
}


.copy {
  gap: 1rem;
  align-items: center;
}

#copyMsg {
  display: none;
}

.copyIcon:hover {
  cursor: pointer;
}

.copyIcon:hover .copyIconPath {
  fill: white;
}

.options {
  padding: 1rem;
}

.slider {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.fieldText{
  font-size: 16px;
}

input[type="checkbox"]{
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: var(--clr-darkGrey);
  border: 2px solid #E6E5EA;
  cursor: pointer;
  background-image: url('./assets/icon-check.svg');
  background-repeat: no-repeat;
  background-position: center;
}

input[type="checkbox"]::after{
  display: none;
}

input[type="checkbox"]:checked{
  background-color: #A4FFAF;
  border: #A4FFAF;
}


input[type="checkbox"]:checked::after{
  display: block;
}

.form-group{
  margin-top: 16px;
}

.form-group label{
display: flex;
align-items: center;
justify-content: flex-start;

}

.form-group label p{
  padding-left: 12px;
}


.strength {
  margin-top: 32px;
  background-color: hsl(var(--clr-veryDarkGrey));
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
  text-transform: uppercase;
  font-size: var(--fs-2);
  line-height: 1.485rem;
  
}

.strength h2{
  font-size: var(--fs-3);
  line-height: 1.32rem;
  
}

.strengthLvl {
  align-items: center;
  display: flex;

}

.strengthLvl p {
  margin-right: 0.5rem;
}






.checkboxes {
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}





.bars {
  width: 10px;
  height: 28px;
  border: 2px solid hsl(var(--clr-almostWhite));
  margin-left: 0.5rem;
}

#bar1,
#bar2,
#bar3,
#bar4{
  width: 10px;
  height: 28px;
  margin-left: 0.5rem;
}



.button {
  width: 100%;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  border: 2px solid hsl(var(--clr-neonGreen));
}

.button:hover {
  background-color: hsl(var(--clr-darkGrey));
  color: hsl(var(--clr-neonGreen));
  cursor: pointer;
}

.button svg {
  margin-left: 1rem;
}

.button:hover path {
  fill: hsl(var(--clr-neonGreen));
}

.alert {
  display: none;
  text-align: center;
  color: hsl(var(--clr-red));
}

/*  Level Classes */

.tooWeak {
  background-color: hsl(var(--clr-red));
  border: 2px solid hsl(var(--clr-red));

}

.weak {
  background-color: hsl(var(--clr-orange));
  border: 2px solid hsl(var(--clr-orange));
}

.medium {
  background-color: hsl(var(--clr-yellow));
  border: 2px solid hsl(var(--clr-yellow));
}

.strong {
  background-color: hsl(var(--clr-neonGreen));
  border: 2px solid hsl(var(--clr-neonGreen));
}


